/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 8, 2016, 9:53:27 AM
    Author     : firsov
*/

body {
    min-width: 400px;
    text-align: center;
    font: 12px/1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.titles{
    width: 100%;
    height: 58px;
}

.logo{
    width: 30px;
    float: left;
}

.name{
    float: left;
    font-size: 38px;
    width: 240px;
    height: 58px;
}

.login {
    height: 58px;
    padding: auto
}

.content {
    width: 100%;
}

.content td{
    border-bottom: 1px #DCDCDC solid;
}
#full_name {
    text-align: justify;
}

#content_task{
    text-align: justify;
}

th {
    background-color: #CFCFCF;
}