/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 25, 2016, 5:37:09 PM
    Author     : firsov
*/

body {
    min-width: 400px;
    background-color: #E8E8E8;
    text-align: center;
    font: 13px/1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

font {
    font-size: 26px;
}

#logo {
    margin-top: 5%;
}

#login {
    border: 1px #CFCFCF solid;
    width: 300px;
    text-align: left;
    margin: 1% auto;
    padding: 12px;
    background-color: white;
}

input {
    width: 285px;
    height: 30px;
}

#button {
    width: 288px;
    height: 30px;
    margin-top: 4%;
}

#back{
    width: 322px;
    margin: 0 auto;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 1px #B5B5B5 solid;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}