<!DOCTYPE html>
<html>
<head data-th-replace="templates/head :: head(#{titleform.position})"></head>
<body>
	<nav id="header"
		data-th-replace="fragments/nav :: core-nav(#{titleform.position})">
	</nav>
	<div class="row flex-container expanded">
		<div class="columns medium-2">
			<ul data-th-replace="templates/menu :: top-directories"></ul>
		</div>
		<div class="columns medium-10">
			<form class="row expanded" method="POST"  data-th-action="${urlAction}"  data-th-object="${position}"  data-th-replace="position/position-fargment :: form-position(#{titleform.new})"></form>
		</div>
	</div>
	<script data-th-replace="fragments/core-script :: core-script"></script>
</body>
</html>