<!DOCTYPE html>
<html>
  <head data-th-replace="templates/head :: head(#{titleform.editPosition})"></head>
<body>
  <nav id="header" data-th-replace="fragments/nav :: core-nav(#{titleform.editPosition})"> </nav>
  <div class="row flex-container expanded">
    <div class="columns medium-2">
      <ul data-th-replace="templates/menu :: top-directories"> </ul>
    </div>
    <div class="columns medium-10">
    	<div data-th-replace="position/position-fargment :: core-form(#{titleform.editPosition}, @{{id}(id=${position.id})}, ${position})"></div>
    </div>
  </div>
  <script data-th-replace="fragments/core-script :: core-script"></script>
</body>
</html>