
		<table class="table" data-th-fragment="table-position">
				<thead>
					<tr>
						<th data-th-text="#{inputlabel.namePost}">name post</th>
						<th data-th-text="#{inputlabel.heftPost}">heft post</th>
						<th data-sec-authorize="hasAnyAuthority('ADMINISTRATOR','HR')">
							<div data-th-replace="templates/core-tag :: button-add" data-th-remove="tag"></div>
						</th>
					</tr>
				</thead>
				<tbody data-th-each="position : ${allPositions}">
					<tr>
						<td data-th-text="${position.namePosition}"></td>
						<td data-th-text="${position.heft}"></td>
						<td>
							<ul class="menu align-right">
								<li>
									<button class="button fi-list" data-th-classappend="${position.disable} ? 'hollow'" type="button" data-th-attr="data-toggle='example-' + @{{id}(id=${position.id})}" ></button>
									<div class="dropdown-pane dropdown-pane-zie" data-th-id="'example-' + @{{id}(id=${position.id})}" data-dropdown data-auto-focus="true" data-close-on-click="true">
										<ul class="menu vertical">
	    									<li><a data-th-href="@{edit/{id}(id=${position.id})}" data-th-text="#{buttonname.edit}" data-th-attr="data-ajax-url='edit/?id='+${position.id}"></a></li>
	      									<li><a data-open="deleteRecord" data-th-attr="data-position-id=${position.id}" data-th-text="#{buttonname.delete}"></a></li>
	      								</ul>
	      				 			</div>
	      				 		</li>
   					 		</ul>
						</td>
					</tr>
				</tbody>
			</table>
	
	<div >
		
		<form data-th-fragment="form-position(titleForm)" 
			data-th-remove="tag">
		
			<div class="medium-12 columns">
				<h3 data-th-text="${titleForm}">title form</h3>
			</div>
			
			<!-- name  -->
			<div data-th-replace="templates/input-custom :: input-12-text('inputlabel.namePost','namePosition')"></div>
			
			<!-- heftPost -->
			<div data-th-replace="templates/input-custom :: select-12('inputlabel.heftPost', 'heft', ${allHeft})"></div>
			
			<!-- disable -->
			<div data-th-replace="templates/input-custom :: input-12-checkbox('inputlabel.isdisable', 'disable')"></div>
			
			<!-- button submit -->
			<div data-th-replace="templates/core-tag :: button-submit" data-th-remove="tag"></div>
		
		</form>
	
	</div>
	
	<div data-th-fragment="deleteModalWindow" data-th-remove="tag">

			<p></p>
  			<p class="lead">
  				<span data-th-text="#{titleform.deletePosition}"></span>
  				<span data-th-text="${position.name}"></span>
  			</p>
  			
  			<input type="hidden" name="id" data-th-field="${position.id}" />

	</div>