<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title company fragment</title>
</head>

<body>

    <table data-th-id="company-table" data-th-fragment="company-table" class="table">
        <thead>
        <tr>
            <th data-th-text="#{inputlabel.nameCompany}"></th>
            <th data-sec-authorize="hasAnyAuthority('company:write')">
                <div data-th-replace="~{templates/button :: button-add-table}" data-th-remove="tag"></div>
            </th>
        </tr>
        </thead>
        <tbody data-th-each="company : ${companies}">
            <tr>
                <td data-th-text="${company.nameCompany}">name company</td>
                <td class="text-right" data-sec-authorize="hasAnyAuthority('company:write')">
                    <a data-th-href="@{edit/{id}(id=${company.id})}" data-th-text="#{buttonname.edit}"></a>
                </td>
            </tr>
        </tbody>
    </table>

    <div data-th-fragment="company-add" data-th-remove="tag">
        <form data-th-replace="~{company/company-fragment :: company-core-form(#{titleform.new},@{add})}"></form>
    </div>

    <div data-th-fragment="company-edit" data-th-remove="tag">
        <form data-th-replace="~{company/company-fragment :: company-core-form(#{titleform.edit},@{#})}"></form>
    </div>

    <form method="post" data-th-fragment="company-core-form(titleValue,url)" data-th-action="${url}" data-th-object="${company}">

        <div data-th-insert="~{templates/title-form :: titleform-12(${titleValue})}"></div>

        <div data-th-insert="~{templates/input-custom :: input-text-12(#{inputlabel.nameCompany}, 'nameCompany')}"></div>

        <div data-th-insert="~{templates/input-custom :: input-checkbox-12(#{inputlabel.isdisable}, 'disable')}"></div>

        <div data-th-replace="~{templates/input-custom :: input-submit-form}" data-th-remove="tag"></div>

    </form>

    <label>
        <select data-th-fragment="datalist-department" data-th-remove="tag">
            <option id="departmentItem" value=" "></option>
            <option data-th-each="department : ${departments}" data-th-value="${department.name}" data-th-text="${department.name}"></option>
        </select>
    </label>

    <datalist >
        <option data-th-each="department : ${departments}" data-th-value="${department.name}"></option>
    </datalist>
</body>
</html>