<!DOCTYPE html>
<html>
	<head data-th-replace="templates/head :: head(#{titleform.hrOrder})"></head>
	
	<body>
		<div class="app-dashboard shrink-medium">
			<div class="row expanded app-dashboard-top-nav-bar">
				<div class="columns medium-2">
					<button data-toggle="app-dashboard-sidebar"	class="menu-icon hide-for-medium"></button>
					<a class="app-dashboard-logo" data-th-text="#{titleform.hrOrder}"></a>
				</div>
				<div class="columns show-for-medium">
				
				</div>
				<div data-th-insert="templates/menu-old/logof-logon.html"></div>
			</div>
	
			<div class="app-dashboard-body off-canvas-wrapper">
				<div id="app-dashboard-sidebar"	class="app-dashboard-sidebar position-left off-canvas off-canvas-absolute reveal-for-medium" data-off-canvas>
					<div class="app-dashboard-sidebar-inner">
						<ul  data-th-replace="fragments/menu :: hr-order"></ul>
					</div>
				</div>
	
				<div class="app-dashboard-body-content off-canvas-content" data-off-canvas-content>
					<div class="medium-11 small-12 columns">
						<div data-th-each="hrOrderModel : ${hrOrderModelList}" data-th-remove="tag">
							<div data-th-replace="hr-order-fragment :: hr-order-callout(${hrOrderModel})" data-th-remove="tag"></div>
						</div>
					</div>
					<div class="medium-1 small-12 columns">
						<div data-th-replace="templates/core-tag :: button-add" data-th-remove="tag" ></div>
					</div>
				</div>
			</div>
		</div>
		
		<div data-th-insert="templates/head :: script" data-th-remove="tag"></div>
		<script type="module" data-th-src="@{/resources/js/hr-order.js}"></script>
	</body>
</html>