<!DOCTYPE html>
<html>
	<head data-th-replace="templates/head :: head(#{titleform.hrOrder})"></head>
	
	<body>
		<div class="app-dashboard shrink-medium">
			<div class="row expanded app-dashboard-top-nav-bar">
				<div class="columns medium-2">
					<button data-toggle="app-dashboard-sidebar"	class="menu-icon hide-for-medium"></button>
					<a class="app-dashboard-logo" data-th-text="#{titleform.hrOrder}"></a>
				</div>
				<div class="columns show-for-medium"></div>
				<div data-th-insert="templates/menu/logof-logon.html"></div>
			</div>
	
			<div class="app-dashboard-body off-canvas-wrapper">
				<div id="app-dashboard-sidebar"	class="app-dashboard-sidebar position-left off-canvas off-canvas-absolute reveal-for-medium" data-off-canvas>
					<div class="app-dashboard-sidebar-inner">
						<ul  data-th-replace="fragments/menu :: hr-order"></ul>
					</div>
				</div>
	
				<div class="app-dashboard-body-content off-canvas-content" data-off-canvas-content>
				
					<div class="column small-12 large-12">
					
						<form data-th-action="@{add}" method="POST" data-th-object="${hrOrderModel}">
							<div class="medium-12 columns">
								<h3 data-th-text="#{titleform.new}">new</h3>
							</div>
							<div data-th-replace="hr/hr-order-fragment :: core-form" data-th-remove="tag"></div>
							<div data-th-replace="templates/core-tag :: button-submit" data-th-remove="tag"></div>
						</form>
					</div>
					
				</div>
			</div>
		</div>
		
		<!-- modal add table employee -->
		<div class="reveal" id="modalAddEmployee" data-ajax-url="forme-mployee" data-reveal data-options="closeOnClick:false; closeOnEsc:false;">
			
		</div>
		
		<div data-th-insert="templates/head :: script" data-th-remove="tag"></div>
		<script type="module" data-th-src="@{/resources/js/hr-order.js}"></script>
	</body>
</html>