<html lang="ua">
<head data-th-replace="~{templates/head :: head(~{::title})}">
    <title data-th-text="#{titleform.users}"></title>
</head>

<body>

    <nav id="header" data-th-replace="~{templates/nav :: core-nav(#{titleform.users})}"></nav>

    <div class="row flex-container expanded">
        <div class="columns medium-2">
            <ul id="componentMenu" class="vertical menu">
                <li data-th-replace="~{templates/menu-admin :: menu-admin}"></li>
            </ul>
        </div>
        <div class="columns medium-10">
            <div data-th-replace="~{user/users-fargment :: ${nameFragment}}"></div>
        </div>
    </div>

    <script data-th-replace="~{templates/core-script :: core-script}"></script>

</body>
</html>