<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head data-th-replace="templates/head :: head(#{titleform.company})">
	</head>
<body>

<div class="app-dashboard shrink-medium">
		<div class="row expanded app-dashboard-top-nav-bar">
			<div class="columns medium-2">
				<button data-toggle="app-dashboard-sidebar"
					class="menu-icon hide-for-medium"></button>
				<a class="app-dashboard-logo" th:text="#{titleform.company}"></a>
			</div>
			<div class="columns show-for-medium">
			
			</div>
			<div th:insert="templates/menu/logof-logon.html"></div>
		</div>

		<div class="app-dashboard-body off-canvas-wrapper">
			<div id="app-dashboard-sidebar"	class="app-dashboard-sidebar position-left off-canvas off-canvas-absolute reveal-for-medium" data-off-canvas>
				<div class="app-dashboard-sidebar-inner">
					<ul class="vertical menu">
						<th:bloc th:insert="fragments/menu.html :: top-directories"></th:bloc>
					</ul>
				</div>
			</div>

			<div class="app-dashboard-body-content off-canvas-content" data-off-canvas-content>
				<div class="column small-12 large-12">
					
					<form data-th-action="@{edit}" method="POST" data-th-object="${company}">
						<div class="medium-12 columns">
							<h1 th:text="#{titleform.edit}">edit</h1>
						</div>
						<div data-th-replace="fragments/company-fargment :: core-form" data-th-remove="tag"></div>
						<div data-th-replace="templates/core-tag :: button-submit" data-th-remove="tag"></div>
					</form>
				</div>
						
			</div>
		</div>
	</div>
	
	<div data-th-insert="templates/head :: script" data-th-remove="tag"></div>
	
	<script type="application/javascript" th:inline="javascript">
		$(document).foundation();
	</script>
	
</body>
</html>