<!-- table -->
<table id="user-table" class="table" data-th-fragment="user-table">
    <thead>
    <tr>
        <th data-th-text="#{inputlabel.login}"></th>
        <th data-th-text="#{inputlabel.roles}"></th>
        <th data-sec-authorize="hasAuthority('ADMINISTRATOR')">
            <ul data-th-replace="templates/core-tag :: button-add"></ul>
        </th>
    </tr>
    </thead>
    <tbody data-th-each="user : ${userList}">
    <tr>
        <td data-th-text="${user.username}"></td>
        <td>
            <span data-th-each="role : ${user.roles}" data-th-remove="tag">
                <span data-th-text="${role.roleName}"></span>
            </span>
        </td>
        <td>
            <ul class="menu align-right">
                <li>
                    <button class="button fi-list"
                            data-th-classappend="${user.enabled} ? _ : 'hollow'" type="button"
                            data-th-attr="data-toggle='example-' + @{{id}(id=${user.username})}"></button>
                    <div class="dropdown-pane dropdown-pane-zie" data-th-id="'example-' + @{{id}(id=${user.username})}"
                         data-dropdown data-auto-focus="true" data-close-on-click="true">
                        <ul class="menu vertical">
                            <li>
                                <a data-th-href="@{pass/{username}(username=${user.username})}" data-th-text="#{buttonname.changePass}">change pass</a>
                            </li>
                            <li><a data-th-href="@{edit/{username}(username=${user.username})}" data-th-text="#{buttonname.edit}">edit</a>
                            </li>
                            <li><a data-th-href="@{del/{username}(username=${user.username})}" data-th-text="#{buttonname.delete}">delete</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>

<div data-th-fragment="add-user" data-th-remove="tag">
    <form data-th-replace="user/user-form-fragment :: ${nameFragment}(#{titleform.new},@{add})"></form>
</div>

<div data-th-fragment="edit-user" data-th-remove="tag">
    <form data-th-replace="user/user-form-fragment :: ${nameFragment}(#{titleform.edit},@{{username}(username=${user.username})})"></form>
</div>

<div data-th-fragment="change-pass-user" data-th-remove="tag">
    <form data-th-replace="user/user-form-fragment :: ${nameFragment}(#{titleform.userChangePass(${userChangePass.username})},@{{uasername}(username=${userChangePass.username})})"></form>
</div>

<div data-th-fragment="del-user" data-th-remove="tag">
    <for data-th-insert="user/user-form-fragment :: ${nameFragment}(#{titleform.deleteUser},@{{uasername}(username=${user.username})})"></for>
</div>
<!-- -->

<!-- delete form -->
<div data-th-fragment="form-del" data-th-remove="tag">
    <form data-th-action="@{del}" method="POST" data-th-object="${userdel}">

        <div class="medium-12 columns">
            <h3 data-th-text="#{titleform.deleteUser}">delete</h3>
        </div>
        <!-- name -->
        <div class="medium-12 columns">
            <input type="hidden" id="username" name="username" data-th-field="*{username}"/>
        </div>
        <span data-th-text="#{placeholder.userdell(${userdel.username})}"></span>
        <div data-th-replace="templates/core-tag :: button-submit" data-th-remove="tag"></div>
    </form>
</div>
