<!DOCTYPE html>
<html lang="ua">
	<head data-th-replace="~{templates/head :: head(#{titleform.departments})}">
		<title>departments</title>
	</head>
	
	<body>

		<nav data-th-insert="~{templates/nav :: core-nav(#{titleform.departments})}"></nav>

		<div class="row flex-container expanded">
			<div class="columns medium-2">
				<ul id="componentMenu" class="vertical menu">
					<li data-th-insert="~{templates/menu :: top-directories}"></li>
				</ul>
			</div>
			<div class="columns medium-10">
				<div data-th-insert="~{department/department-fragment :: ${nameFragment}}"></div>
			</div>
		</div>

		<script data-th-replace="~{templates/core-script :: core-script}"></script>
		<script type="text/javascript" data-th-src="@{/resources/js/menu.js}"></script>
	
	</body>
</html>