	
	<div data-th-fragment="table-departments"  data-th-remove="tag">

		<table class="table">
			<thead>
				<tr>
					<th data-th-text="#{inputlabel.nameDepartment}"></th>
					<th data-sec-authorize="hasAuthority('ADMINISTRATOR')">
						<div data-th-replace="templates/core-tag :: button-add" data-th-remove="tag"></div>
					</th>
				</tr>
			</thead>
			<tbody data-th-each="department : ${departments}">
				<tr>
					<td data-th-text="${department.name}"></td>
					<td>
						<ul class="menu align-right">
							<li>
								<button class="button fi-list" type="button" data-th-attr="data-toggle='example-' + @{{id}(id=${department.id})}" ></button>
								<div class="dropdown-pane dropdown-pane-zie" data-th-id="'example-' + @{{id}(id=${department.id})}" data-dropdown data-auto-focus="true" data-close-on-click="true">
									<ul class="menu vertical">
    									<li><a data-th-href="@{edit/{id}(id=${department.id})}" data-th-text="#{buttonname.edit}" data-th-attr="data-ajax-url='edit/?id='+${department.id}"></a></li>
      									<li><a data-open="deleteRecord" data-th-attr="data-department-id=${department.id}" data-th-text="#{buttonname.delete}"></a></li>
      								</ul>
      				 			</div>
      				 		</li>
   					 	</ul>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	
	<div data-th-fragment="core-form" data-th-remove="tag">
			<!--  -->
			<div class="medium-12 columns">
				<input type="hidden" name="id" data-th-field="*{id}" /> 
			</div>
			<!-- name -->
			<div data-th-class="${#fields.hasErrors('name')} ? 'medium-12 columns invalid' : 'medium-12 columns' " >
				<label data-th-text="#{inputlabel.nameDepartment}"></label> 
				<input type="text" id="name" name="name" data-th-field="*{name}" data-th-placeholder="#{inputlabel.nameDepartment}" autofocus="autofocus" /> 
				<span class="form-error is-visible" data-th-errors="*{name}" ></span>
			</div>
			<!-- companies -->
			<div class="medium-12 columns">
				<label >
					<span data-th-text="#{titleform.company}"></span>:
    				<input type="checkbox" name="companies" data-th-each="company : ${companiesList}" data-th-text="${company.nameCompany} + ' '" data-th-field="*{companies}" data-th-value="${company.id}">
    			</label>

			</div>
			<!-- disable -->
			<div class="medium-12 columns">
				<label data-th-text="#{inputlabel.isdisable}"></label>
				<input type="checkbox" id="disable" data-th-field="*{disable}">
			</div>
	</div>
	
	<div data-th-fragment="deleteModalWindow" data-th-remove="tag">
		<form data-th-id="deleteDepartment" data-th-action="@{delete}" method="POST" data-th-object="${selectedDepartment}">
			
			<button class="close-button" data-close aria-label="Close modal" type="button">
    			<span aria-hidden="true">&times;</span>
  			</button>
  			
  			<p></p>
  			<p class="lead">
  				<span data-th-text="#{titleform.deleteCompany}"></span>
  				<span data-th-text="${selectedDepartment.name}"></span>
  			</p>
  			
  			<input type="hidden" name="id" data-th-field="*{id}" /> 
  			
  			<div class="small button-group align-right">
  				<button class="button"  data-close  data-th-text="#{buttonname.submit}" data-th-name="save">Submit</button>
  			</div>
		</form>
	</div>