<div data-th-fragment="fragments/login-fargment" data-th-remove="tag">
				<div class="medium-12 cell">
					<label> <span data-th-text="#{inputlabel.username}"></span> <input
						type="text" id="username" name="username" autofocus="autofocus" />
					</label>
				</div>
				<div class="medium-12 cell">
					<label> <span data-th-text="#{inputlabel.password}"></span> <input
						type="password" id="password" name="password"
						autofocus="autofocus" />
					</label>
				</div>
				<button class="button expanded" data-th-text="#{buttonname.login}"></button>
</div>