	
	<div data-th-fragment="table-position"  data-th-remove="tag">

		<table class="table">
				<thead>
					<tr>
						<th data-th-text="#{inputlabel.namePost}">name post</th>
						<th data-th-text="#{inputlabel.heftPost}">heft post</th>
						<th data-sec-authorize="hasAuthority('ADMINISTRATOR')">
							<div data-th-replace="templates/core-tag :: button-add" data-th-remove="tag"></div>
						</th>
					</tr>
				</thead>
				<tbody data-th-each="position : ${allPositions}">
					<tr>
						<td data-th-text="${position.name}"></td>
						<td data-th-text="${position.heft}"></td>
						<td>
							<ul class="menu align-right">
								<li>
									<button class="button fi-list" type="button" data-th-attr="data-toggle='example-' + @{{id}(id=${position.id})}" ></button>
									<div class="dropdown-pane dropdown-pane-zie" data-th-id="'example-' + @{{id}(id=${position.id})}" data-dropdown data-auto-focus="true" data-close-on-click="true">
										<ul class="menu vertical">
	    									<li><a data-th-href="@{edit/{id}(id=${position.id})}" data-th-text="#{buttonname.edit}" data-th-attr="data-ajax-url='edit/?id='+${position.id}"></a></li>
	      									<li><a data-open="deleteRecord" data-th-attr="data-position-id=${position.id}" data-th-text="#{buttonname.delete}"></a></li>
	      								</ul>
	      				 			</div>
	      				 		</li>
   					 		</ul>
						</td>
					</tr>
				</tbody>
			</table>
	</div>
	
	
	<div data-th-fragment="core-form-position(nameForm)" data-th-remove="tag">
			
			<div class="medium-12 columns">
				<h3 data-th-text="${nameForm}">new</h3>
			</div>
	
			<!--  -->
			<div class="medium-12 columns">
				<input type="hidden" name="id" data-th-field="*{id}" /> 
			</div>

			<!-- name -->
			<div data-th-class="${#fields.hasErrors('name')} ? 'medium-12 columns invalid' : 'medium-12 columns' " >
				<label data-th-text="#{inputlabel.namePost}"></label> 
				<input type="text" id="name" name="name" data-th-field="*{name}" data-th-placeholder="#{inputlabel.nameDepartment}" autofocus="autofocus" /> 
				<span class="form-error is-visible" data-th-errors="*{name}" ></span>
			</div>
			
			<!-- heftPost -->
			<div data-th-class="${#fields.hasErrors('name')} ? 'medium-12 columns invalid' : 'medium-12 columns' ">
				<Label data-th-text="#{inputlabel.heftPost}"></Label> 
				<select id="heft" data-th-field="*{heft}">
					<option data-th-each="heft : ${allHeft}" data-th-value="${heft}" data-th-text="${heft}">
				</select>
			</div>
			
			<!-- disable -->
			<div class="medium-12 columns">
				<label data-th-text="#{inputlabel.isdisable}"></label>
				<input type="checkbox" id="disable" data-th-field="*{disable}">
			</div>
			<!-- button submit -->
			<div data-th-replace="templates/core-tag :: button-submit" data-th-remove="tag"></div>
	</div>
	
	<div data-th-fragment="deleteModalWindow" data-th-remove="tag">

			<p></p>
  			<p class="lead">
  				<span data-th-text="#{titleform.deletePosition}"></span>
  				<span data-th-text="${position.name}"></span>
  			</p>
  			
  			<input type="hidden" name="id" data-th-field="${position.id}" />

	</div>