	
	<div data-ht-fragment="table"  data-th-remove="tag" data-sec-authorize="hasAuthority('ADMINISTRATOR')">
		<table id="fragment-test" class="table">
			<thead>
				<tr>
					<th data-th-text="#{inputlabel.login}"></th>
					<th data-th-text="#{inputlabel.roles}"></th>
					<th data-sec-authorize="hasAuthority('ADMINISTRATOR')">
						<ul data-th-replace="templates/core-tag :: add-button"></ul>
					</th>
				</tr>
			</thead>
			<tbody data-th-each="user : ${userList}">
				<tr>
					<td data-th-text="${user.username}"></td>
					<td>
						<span data-th-each="role : ${user.roles}" data-th-remove="tag">
							<span data-th-text="${role.roleName}"></span>
						</span>
					</td>
					<td>
						<ul class="menu align-right">
							<li>
								<button class="button fi-list" data-th-classappend="${user.enabled} ? 'hollow'" type="button" data-th-attr="data-toggle='example-' + @{{id}(id=${user.username})}" ></button>
								<div class="dropdown-pane dropdown-pane-zie" data-th-id="'example-' + @{{id}(id=${user.username})}" data-dropdown data-auto-focus="true" data-close-on-click="true">
									<ul class="menu vertical">
    									<li><a data-th-href="@{edit/{id}(id=${user.username})}" data-th-text="#{buttonname.edit}" data-open="editRoom" data-th-attr="data-ajax-url='edit/?id='+${user.username}"></a></li>
    									<li><a data-th-href="@{${url}(page=delete,username=${user.username})}" data-th-text="#{buttonname.delete}"></a></li>
      								</ul>
      				 			</div>
      				 		</li>
   					 	</ul>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	
	<div data-th-fragment="core-form" data-th-remove="tag">
			<!-- name -->
			<div class="medium-12 columns" >
				<label data-th-class="${#fields.hasErrors('username')}? 'is-invalid-label'" data-th-text="#{inputlabel.username}"></label> 
				<input data-th-class="${#fields.hasErrors('username')}? 'is-invalid-input'" type="text" id="username" name="username" data-th-field="*{username}" data-th-placeholder="#{inputlabel.username}" autofocus="autofocus" /> 
				<span class="form-error is-visible" data-th-errors="*{username}" ></span>
			</div>
			<!-- password -->
			<div class="medium-12 columns"  >
				<label data-th-class="${#fields.hasErrors('username')}? 'is-invalid-label'" data-th-text="#{inputlabel.password}"></label>
				<input data-th-class="${#fields.hasErrors('username')}? 'is-invalid-input'" type="password" id="pass" name="password" data-th-value="*{password}" data-th-placeholder="#{inputlabel.password}" autocomplete="off">
				<span class="form-error is-visible" data-th-errors="*{password}" ></span>
			</div>
			<!-- repeat password -->
			<div class="medium-12 columns" >
				<label data-th-class="${#fields.hasErrors('username')}? 'is-invalid-label'" data-th-text="#{inputlabel.repeatPassword}"></label>
				<input data-th-class="${#fields.hasErrors('username')}? 'is-invalid-input'" type="password" id="repeatPassword" name="repeatPassword" data-th-value="*{repeatPassword}" data-th-placeholder="#{inputlabel.repeatPassword}" autofocus="autofocus">
				<span class="form-error is-visible" data-th-errors="*{repeatPassword}" ></span>
			</div>
			<!-- role -->
			<div class="medium-12 columns">
				<label >
					<span data-th-text="#{titleform.roles}"></span>:
    				<input type="checkbox" name="role" data-th-each="role : ${roles}" data-th-text="${role.roleName} + ' '" data-th-field="*{selectedRole}" data-th-value="${role.roleId}">
    			</label>
			</div>
			<!-- disable -->
			<div class="medium-12 columns">
				<label data-th-text="#{inputlabel.isdisable}"></label>
				<input type="checkbox" id="disable" data-th-field="*{enabled}">
			</div>
			
	</div>
	
	<div data-th-fragment="deleteModalWindow" data-th-remove="tag">
		<form data-th-id="deleteCompany" data-th-action="@{delete}" method="POST" data-th-object="${selectedCompany}">
			
			<button class="close-button" data-close aria-label="Close modal" type="button">
    			<span aria-hidden="true">&times;</span>
  			</button>
  			
  			<p></p>
  			<p class="lead">
  				<span data-th-text="#{titleform.deleteCompany}"></span>
  				<span data-th-text="${selectedCompany.nameCompany}"></span>
  			</p>
  			
  			<input type="hidden" name="id" data-th-field="*{id}" /> 
  			
  			<div class="small button-group align-right">
  				<button class="button"  data-close  data-th-text="#{buttonname.submit}" data-th-name="save">Submit</button>
  			</div>
		</form>
	</div>