<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<ul>
		<li data-th-fragment="login-logoff">
			<a class="button" data-th-href="home" data-sec-authorize="!isAuthenticated()" data-th-text="#{buttonname.login}">Sing in</a>
			<form data-th-action="@{/logout}" method="POST" data-sec-authorize="isAuthenticated()">
				<button class="button hollow expanded" type="submit" value="Sing out" data-th-text="#{buttonname.logoff}"></button>
			</form>
		</li>	
	</ul>

</body>
</html>