<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div class="row">
	<!-- name -->
	<div class="medium-12 columns">
		<span th:text="#{inputlabel.nameDepartment}"></span> 
		<input
			type="text" id="name" name="name" th:field="*{name}"
			autofocus="autofocus" th:placeholder="#{inputlabel.nameDepartment}" /> 
		<span th:class="${#fields.hasErrors('name')} ? 'form-error is-visible' : '' "
			th:errors="*{name}"></span>
	</div>
</div>

<!-- phone -->
<div class="row">
	<div class="medium-12 columns">
		<span th:text="#{inputlabel.numberPhone}"></span> <input type="text"
			id="phone" name="phone" th:field="*{phone}" autofocus="autofocus" th:placeholder="#{placeholder.phone}"/>
		<span
			th:class="${#fields.hasErrors('phone')} ? 'form-error is-visible' : '' "
			th:errors="*{phone}"></span>
	</div>
</div>

<!-- fax -->
<div class="row">
	<div class="medium-12 columns">
		<span th:text="#{inputlabel.numberFax}"></span> <input type="text"
			id="fax" name="fax" th:field="*{fax}" autofocus="autofocus" th:placeholder="#{placeholder.fax}"/> <span
			th:class="${#fields.hasErrors('fax')} ? 'form-error is-visible' : '' "
			th:errors="*{fax}"></span>
	</div>
</div>

<div class="row">
	<div class="medium-12 columns">
		<span th:text="#{inputlabel.isdisable}"></span> <input type="checkbox"
			id="disable" th:field="*{disable}">
	</div>
</div>

<div class="row ">
	<fieldset class="column align-right">
		<button type="submit" class="button" name="save"
			th:text="#{buttonname.submit}">Add row</button>
	</fieldset>
</div>
</html>