<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div class="row">
	<!-- name -->
	<div class="medium-12 columns">
		<span th:text="#{inputlabel.numberRoom}"></span> 
		<input type="text"
			id="numberRoom" name="numberRoom" th:field="*{numberRoom}" autofocus="autofocus" /> <span
			th:class="${#fields.hasErrors('numberRoom')} ? 'form-error is-visible' : '' "
			th:errors="*{numberRoom}"></span>
	</div>
</div>

<div class="row ">
	<fieldset class="column align-right">
		<button type="submit" class="button" name="save"
			th:text="#{buttonname.submit}">Add row</button>
	</fieldset>
</div>
</html>