<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	
	<div class="reveal" id="deleteRecord" data-reveal data-options="closeOnClick:false; closeOnEsc:false;">
  		<h1>Неможливо видалити.</h1>
  			<p class="lead">Бо запис має залежності.</p>
  			<p class="lead">Наркотична, ігрова, сексуальна, алкогольна, інтернет і далі за списком.</p>
  		<button class="close-button" data-close aria-label="Close modal" type="button">
    		<span aria-hidden="true">&times;</span>
  		</button>
	</div>
</html>