    
	<head data-th-fragment="head(titleName)">
		<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link data-th-href="@{/resources/css/foundation.css}" rel="stylesheet" />
		<link data-th-href="@{/resources/fonts/foundation-icons.css}" rel="stylesheet" />
		<link data-th-href="@{/resources/css/app.css}" rel="stylesheet" />
		<title data-th-utext="${titleName}">title</title>
	</head>
	
	<div data-th-fragment="script" data-th-remove="tag">
		<script type="application/javascript" data-th-src="@{/resources/js/vendor/jquery.js}"></script>
		<script type="application/javascript" data-th-src="@{/resources/js/vendor/foundation.js}"></script>
		<script type="application/javascript" data-th-src="@{/resources/js/vendor/what-input.js}"></script>
	</div>