<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	
	<link th:href="@{/resources/css/foundation.css}" rel="stylesheet" />
	<script type="text/javascript" th:inline="javascript" th:src="@{/resources/js/vendor/jquery.js}"></script>
	<script type="text/javascript" th:inline="javascript" th:src="@{/resources/js/vendor/foundation.js}"></script>
	<script type="text/javascript" th:inline="javascript" th:src="@{/resources/js/vendor/what-input.js}"></script>
</html>