<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div class="app-dashboard shrink-medium">
		<div class="row expanded app-dashboard-top-nav-bar">
			<div class="columns medium-2">
				<button data-toggle="app-dashboard-sidebar"
					class="menu-icon hide-for-medium"></button>
				<a class="app-dashboard-logo">INFORMER</a>
			</div>
			<div class="columns show-for-medium">
				<div class="app-dashboard-search-bar-container">
					<input class="app-dashboard-search" type="search"
						placeholder="Search"> <i
						class="app-dashboard-search-icon fa fa-search"></i>
				</div>
			</div>
			<div class="columns shrink app-dashboard-top-bar-actions">
				<div sec:authorize="!isAuthenticated()">
					<a data-th-href="home" data-th-text="#{buttonname.login}"
						class="button hollow">Sing in</a>
				</div>
				<div sec:authorize="isAuthenticated()">
					<form name="logonLogoff" th:action="@{/logout}" method="POST">
						<button class="button hollow expanded" type="submit"
							th:text="#{buttonname.logoff}" value="Sing out"></button>
					</form>
				</div>

			</div>
		</div>
	</div>

</html>