<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/task</property>
    <property name="hibernate.connection.username">sa</property>
    <property name="hibernate.connection.password">1q2w3e4r</property>
    <property name="connection.pool_size">1</property>
    <mapping resource="urgency.hbm.xml"/>
    <mapping resource="users.hbm.xml"/>
    <mapping resource="employee.hbm.xml"/>
    <mapping resource="task.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
