<!DOCTYPE html>
<html>
	<head data-th-replace="templates/head :: head(#{titleform.users})">
	</head>
	
	<body>
		<div class="app-dashboard shrink-medium">
		<div class="row expanded app-dashboard-top-nav-bar">
			<div class="columns medium-2">
				<button data-toggle="app-dashboard-sidebar"
					class="menu-icon hide-for-medium"></button>
				<a class="app-dashboard-logo" data-th-text="#{titleform.users}"></a>
			</div>
			<div class="columns show-for-medium">
			
			</div>
			<div data-th-insert="templates/menu/logof-logon.html"></div>
		</div>

		<div class="app-dashboard-body off-canvas-wrapper">
			<div id="app-dashboard-sidebar"	class="app-dashboard-sidebar position-left off-canvas off-canvas-absolute reveal-for-medium" data-off-canvas>
				<div class="app-dashboard-sidebar-inner">
					<ul data-th-replace="fragments/menu :: home-admin"></ul>
				</div>
			</div>

			<div class="app-dashboard-body-content off-canvas-content" data-off-canvas-content>
				<div data-th-unless="${param.page}">
					<div data-th-name="user-list" data-th-replace="fragments/users-fargment :: table"></div>
				</div>
				<!-- form add -->
				<div data-th-if="${#strings.toString(param.page)} == 'add'">
					<form data-th-action="@{${url}(page=add)}" method="POST" data-th-object="${user}">
						<div class="medium-12 columns">
							<h3 data-th-text="#{titleform.new}">new</h3>
						</div>
						<div data-th-replace="fragments/users-fargment :: core-form" data-th-remove="tag"></div>
						<div data-th-replace="templates/core-tag :: button-submit" data-th-remove="tag"></div>
					</form>
				</div>
				<!-- delete page -->
				<div data-th-if="${#strings.toString(param.page)} == 'delete'">
					<form data-th-action="@{${url}(page=delete)}" method="POST"  data-th-object="${user}">
						<div class="medium-12 columns">
							<h3 data-th-text="#{titleform.deleteUser}">delete</h3>
							<!-- name -->
							<div class="medium-12 columns" >
								<input type="hidden" id="username" name="username" data-th-field="*{username}" /> 
							</div>
							<span data-th-text="#{placeholder.userdell(${user.username})}"></span>
							<div data-th-replace="templates/core-tag :: button-submit" data-th-remove="tag"></div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	
	<div data-th-replace="templates/head :: script" data-th-remove="tag"></div>
	
	<script type="text/javascript" data-th-inline="javascript">
		$(document).foundation();
	</script>

	</body>
</html>