<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link th:insert="templates/head.html" />
<title>title</title>
</head>
<body>
	<div class="top-bar" >
		<div th:insert="templates/menu/top-admin.html"></div>
		<div th:insert="templates/menu/logof-logon.html"></div>
	</div>
	<br>
	<div class="row">
		<div class="columns" th:fragment="tableEmployee">
		
			<!-- table -->
			<table class="table">
				<thead>
					<tr>
						<td th:text="#{inputlabel.fullname}"></td>
						<td th:text="#{inputlabel.company}"></td>
						<td th:text="#{inputlabel.department}"></td>
						<td>
							<ul class="menu">
								<li><a th:href="@{add}" th:text="#{buttonname.add}" class="button">add</a></li>
							</ul>
						</td>

					</tr>
				</thead>
				<tbody th:each="employee : ${allEmployee}">
					<tr>
						<td
							th:text="${employee.surname + ' ' + employee.name + ' ' + employee.patronymic}"></td>
						<td th:text="${employee.enterprise}"></td>
						<td th:text="${employee.department}"></td>
						<td><a th:href="@{edit/{id}(id=${employee.id})}" th:text="#{buttonname.edit}">edit</a> </td>
						<td><a data-open="deleteRecord" th:attr="data-employee-id=${employee.id}"  >delete</a></td>
					</tr>
				</tbody>
			</table>
			
			<!-- modal window delete -->
			<div class="reveal" th:id="deleteRecord" data-reveal data-options="closeOnClick:false; closeOnEsc:false;">
				<div th:fragment="viewDeleteEmployee">
					<form id="deleteEmployee" th:action="@{delete/{id}(id=${selectEmployee.id})}" method="post" th:object="${selectEmployee}">
  					<p class="lead" th:text="#{titleform.deleteEmployee}">kill employee</p>
  					<p th:text="${selectEmployee.surname} + ' ' + ${selectEmployee.name} + ' ' + ${selectEmployee.patronymic}">Full user name</p>
  					<div class="small button-group align-right">
  						<button class="button"  data-close  th:text="#{buttonname.submit}" name="save">Submit</button>
  					</div>
  					<button class="close-button" data-close aria-label="Close modal" type="button">
    					<span aria-hidden="true">&times;</span>
  					</button>
  					</form>
  				</div>
			</div>
			
		</div>
	</div>
	<script type="text/javascript">
		$(document).foundation();

		$('[data-open][data-employee-id]').on(
				'click',
				function() {
					var ajax_url = "selectedEmployee/"
							+ $(this).data('employeeId');
					
					var $modal = $('#deleteRecord');
					if (ajax_url) {
						$.ajax(ajax_url).done(function(modalBodyResponse) {
							$modal.html(modalBodyResponse);
						});
					}
				});
		
	</script>
</body>
</html>