<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link th:insert="templates/head.html" />
<title>title</title>
</head>
<body>
	<div th:insert="templates/top-bar.html"></div>
	<br>
	<div class="row">
		<div class="column small-12 large-12">
			<h1 th:text="#{titleform.new}">New employee</h1>
			<form class="row" th:action="@{add}" method="post" th:object="${employee}">
				<h1 th:text="#{titleform.newEmployee}">New employee</h1>
				<span class="column small-12 large-12" th:insert="templates/employee.html"></span>
			</form>
		</div>
	</div>
	<script type="text/javascript">
		$(document).foundation();
	</script>
</body>
</html>