<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link th:insert="templates/head.html" />
<title th:text="#{titleform.home}">title</title>
</head>
<body>
	<div th:insert="templates/top-bar.html"></div>
	<br>
	<div class="row">
		<div class="columns">
			<div class="row">
				<div class="column small-12 large-4">
					<a href="#" th:href="@{employee/}" th:text="#{titleform.admin}" class="hollow large button expanded"></a>
				</div>
				<div class="column small-12 large-4">
					<a href="#" th:href="@{position/}" th:text="#{titleform.home.directories}" class="hollow large button expanded"></a>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		$(document).foundation();
	</script>
	
</body>
</html>