<!DOCTYPE html>
<html lang="ua">

<head data-th-replace="templates/head :: head(~{::titl})">
	<title data-th-text="#{titleform.home}"></title>
</head>

<body>

	<nav id="header" data-th-replace="fragments/nav :: core-nav(#{titleform.home})"></nav>
	
	<div class="row flex-container">
		
		<div data-th-replace="templates/colout :: home-colout(titleColout='titleform.admin', urlModule='/employee/', description='')"></div>
		
		<div data-th-replace="templates/colout :: home-colout(titleColout='titleform.home.directories', urlModule='/position/', description='')"></div>
		
	</div>

	<script data-th-replace="fragments/core-script :: core-script"></script>

</body>
</html>