<!DOCTYPE html>
<html>

	<head data-th-replace="templates/head :: head(#{titleform.login})"></head>
	
	<body>
		<div style="margin-top: 10%" class="row align-center">
			<div class="column small-12 large-6">
				<form id="login" action="#" method="post" data-th-object="${user}">
					<h3 style="text-align: center;">
						<span data-th-text="#{titleform.login}"></span>
					</h3>
					<div data-th-replace="fragments/login-fargment" data-th-remove="tag"></div>
				</form>
			</div>
		</div>
	</body>
</html>