<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div class="row">
	<!-- name -->
	<div class="medium-12 columns">
		<span th:text="#{inputlabel.namePost}"></span> 
		<input type="text"
			id="name" name="name" th:field="*{name}" autofocus="autofocus" /> <span
			th:class="${#fields.hasErrors('name')} ? 'form-error is-visible' : '' "
			th:errors="*{name}"></span>
	</div>
</div>

<div class="row">
	<div class="medium-12 columns">
		<span th:text="#{inputlabel.heftPost}"></span> <select id="heft"
			th:field="*{heft}">
			<option th:each="heft : ${allHeft}" th:value="${heft}"
				th:text="${heft}">
		</select>
	</div>
</div>

<div class="row">
	<div class="medium-12 columns">
		<span th:text="#{inputlabel.isdisable}"></span> 
		<input type="checkbox" id="disable" th:field="*{disable}">
	</div>
</div>

<div class="row ">
	<fieldset class="column align-right">
		<button type="submit" class="button" name="save"
			th:text="#{buttonname.submit}">Add row</button>
	</fieldset>
</div>
</html>