<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div class="columns shrink app-dashboard-top-bar-actions">
	<div sec:authorize="!isAuthenticated()">
		<button th:href="home" th:text="#{buttonname.login}" class="button hollow">Sing in</button>
	</div>
	<div sec:authorize="isAuthenticated()">
		<form name="logonLogoff" th:action="@{/logout}" method="POST">
			<button class="button hollow expanded" type="submit" th:text="#{buttonname.logoff}" value="Sing out"></button>
		</form>
	</div>
</div>
</html>