@CHARSET "UTF-8";

body {
	font-family: Arial, Helvetica, sans-serif;
	background: #E8E8E8;
	display: flex;
	justify-content: center;
	align-content: center;
	height: 90vh;
}

form {
	background: white;
	padding: 12px;
	width: 300px;
	display: flex;
	flex-direction: column;
	font-size: 18px;
}
input {
	font-family: Arial;
	font-size: 14px;
	flex-grow: 1;
	padding:12px;
	margin-top: 6px;
	margin-bottom: 6px;
}
input[type="submit"] {
	margin-top: 12px;
	margin-bottom: 0;
}
aside {
	padding-top: 20%;
}
aside > header{
	font-size: 26px;
	text-align: center;
	margin-bottom: 12px;
}
aside > footer{
	padding-top: 12px;
}
aside > footer > a {
	display:block;
	text-align: center;
	border: 1px #B5B5B5 solid;
	padding: 12px;
	text-decoration: none;
	color: black;
}
