@CHARSET "UTF-8";
html, body {
	margin: 0;
	padding: 0;
	color: #666666;
	font-family: Sans, Arial;
}
header{padding-top: 12px;}

button, .button-add{
	font-family: Sans, Arial;
	color: #666666;
	padding:6px;
	border:1px solid #666666;
}
input, label, select{
	padding: 6px;
}
.button-add{
	width: 165px;
}
.container, #menu, .content{
	padding-left: 50px;
	padding-right: 50px;
}
nav {
	margin-top:12px;
	background: #666666;
}

nav ul{
	display: flex;
	margin: 0;
	padding: 0;
}
nav li {
	padding-left:0;
	border-right: 1px solid #f9f9f9;
	color: white;
	flex-grow: 0;
	flex-flow:column wrap;
	list-style-type: none;
	position: relative;
}
nav li:FIRST-CHILD{
	border-left: 1px solid #f9f9f9;
}
nav li > ul{
	padding: 0;
	padding-top: 12px;
	border-bottom: 1px solid #666666;
	background: #f9f9f9;
	display: none;
	flex-flow:column wrap;
	align-items: stretch;
	position: absolute;
	top: 100%;	
}
nav ul > li > ul > li{
	border-left: 1px solid #666666;
	border-right: 1px solid #666666;
}
nav ul > li > ul > li:FIRST-CHILD{
	border-left: 1px solid #666666;
}
nav li > a{
	display: block;
	white-space: nowrap;
	padding: 12px;
	color: white;
	text-decoration: none;
}
nav li > ul > li:FIRST-CHILD{
	border-top: 1px solid #666666;
}
nav li:HOVER a:HOVER{
	color: #99CC33;
	text-decoration: underline;
}
nav li > ul > li:HOVER > a:HOVER, #menu a:hover{
	border: 0;
	background: #f9f9f9;
	color: #99CC33;
	text-decoration: underline;
}
nav ul > li:HOVER::AFTER{
	content: ''; 
    position: absolute;
    left:20px;
    border: 10px solid transparent;
    border-top: 10px solid #666666;
}
nav ul > li > ul > li:HOVER::AFTER{
	border: 0;
}
nav li > ul > li a{
	color: #666666;
}
nav li:HOVER ul {
	display: flex;
}
li.select{
	color: #99CC33;
}

#menu {
	display: flex;
	flex-flow:row nowrap;
	margin: 0;
	padding-left: 50px;
	background: #f9f9f9;
	border-bottom: 1px solid #666666;
}
#menu a{
	color: #666666;
	text-decoration: none;
	padding: 12px;
	display: inline;
}
#menu ul{
	display: flex;
	flex-flow:row nowrap;
	padding: 0;
	margin: 0;
}
#menu li {
	list-style-type: none;
	padding: 12px;
}
#menu a.select {
	color: #99CC33;
	text-decoration: underline;
}
.container-fluid{
	margin: 12px;
}
.content{
	line-height: 1.5;
	padding-top: 12px;
}
.content table{
	width: 100%;
	border-collapse: collapse;
}
.content tr:NTH-CHILD(odd) td{
	background: #f9f9f9;
}
.content td{
	border-bottom: 1px solid #666666;
	padding: 12px;
	cursor: pointer;
}
.content tr:FIRST-CHILD > td {
	border-top: 1px solid #666666;
}
.table {
	width: 100%;
	border-spacing: 0;
}
.table th, td { padding: 4px;}
.table td{
	border-top: 1px solid #666666;	
}
.dropdown{
	position: relative;
}
.dropdown ul{
	padding: 0;
	margin: 0;
	position: absolute;
	background: #f9f9f9;
	list-style-type: none;
	display: none;
}
.page-header{
	color: white;
	
}
.page-header > h2 {
	background: #666666;
	padding: 6px;
	padding-left: 24px;
}

.box-form{
	margin: 24px auto;
	max-width: 570px;
    padding: 6px;
}
.form-horisontal{
	display: flex;
	flex-flow: column wrap;
}
.form-group, .form-group-button{
	display: flex;
	flex-flow: row nowrap;
	align-items: stretch;
	justify-content: flex-end;
	margin-bottom: 6px;
}
.form-group label {
	padding-left: 24px;
	flex-shrink: 0;
	width: 200px;
	margin-right: 4px;
	margin-left: 4px;
}
.form-group input{
	
	flex-grow: 1;
	font-family: Sans, Arial;
}
.form-group > select, input{
	margin-right: 12px;
}
.form-group select{
	max-width: 362px;
	flex-grow: 1;
	flex-shrink: 1;
	font-family: Sans, Arial;
}
.form-group option{
	max-width: 362px;
}
.form-group-button {
	border-top: 1px solid #666666;
	margin-top: 12px;
}
.form-group-button button {
	margin: 2px;
	margin-top: 6px;
}
.filtr {
    margin: 12px;
    background: #f9f9f9;
    border: 1px solid black;
}
.filtr div {
    display: inline;
    margin: 6px;
}
.filtr select{
    margin: 6px;
}

