/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 15, 2016, 1:01:08 PM
    Author     : firsov
*/
html body {
    min-width: 1024px;
}
.table {
    display: table;
    width: 100%;
}
.table-th{
    background: gold;
    text-align: center;
    font-weight: bold;
}
.table-td {
    border-bottom: 1px solid black;
}
.row {
    display: table-row;
    padding: 10px;
}
.cell{
    display: table-cell;
}
.content{
    padding-left: 12px;
}
.main-table{
    display: table;
    width: 100%;
}
.menu {
    width: 200px;
    padding-right: 6px;
}
.link-dekoration{
    text-decoration: none;
    color: black;
}
.menu-link-add{
    background: gold;
    display: block;
    text-align: center;
    margin-top: 6px;
    padding: 6px;
}
.menu-blok{
    display: block;
    padding: 6px;
}
.menu-blok-border{
    padding-bottom: 12px;
}
.menu-select{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.decoration-none a{
    display: block;
    text-decoration: none;
    color: black;
}
.select:hover {
    background: gold;
}