/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 15, 2016, 1:01:08 PM
    Author     : firsov
*/
@import 'https://fonts.googleapis.com/css?family=Ubuntu';
@font-face{
    font-family: 'Ubuntu', sans-serif;
}

html body {
    min-width: 1024px;
    font-family: 'Ubuntu';
    padding: 0px;
    margin: 0px;
}
nav{
    width: 100%;
    border-bottom: 1px solid black;
}
nav ul{
    list-style-type: none;
    padding: 12px;
    margin: 0;
    background: gold;
}
nav li{
    display: inline;
}
nav a{
    font-size: 20px;
    text-height: inherit;
    text-decoration: none;
    color: black;
    padding: 12px;
    padding-bottom: 13px;
}
nav a.select{
    background: black;
    color: gold;  
}
.filtr {
    margin: 12px;
    background: gold;
    border: 1px solid black;
}
.filtr div {
    display: inline;
    margin: 6px;
}
.filtr select{
    margin: 6px;
}
.table-div{
    display: table;
    width: 100%;
}
.row-div{
    display: table-row;
}
.th div{
    display: table-cell;
    text-align: center;
    border-bottom: 2px solid black;
    padding: 6px;
}
.td div{
    padding-left: 12px;
    display: table-cell;
    border-bottom: 1px solid black;
    padding-top: 2px;
    padding-bottom: 2px;
}
.td a{
    display: block;
    text-decoration: none;
    color: black;
}
.td:hover {
    background: gold;
}
