/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 17, 2016, 1:51:59 PM
    Author     : firsov
*/
html body{
    min-width: 1024px;
}
.div-table{
    display: table;
    width: 100%;
}
.div-row{
    display: table-row;
}
.div-row div{
    display: table-cell;
}
.th{
    text-align: center;
    background: #CFCFCF;
}
.td__cplor {
    background: #E8E8E8;
}

