<!DOCTYPE html>

<div data-th-fragment="core-form" data-th-remove="tag">

	<div class="medium-12 columns">
		<input type="hidden" name="hrOrderId" data-th-field="*{hrOrderId}" />
	</div>

	<div class="row expanded" >
		<div data-th-replace="templates/input-custom :: input-12-text(nameTag='hrOrderName', textTag='inputlabel.hrOrderName')" 
		     data-sec-authorize="hasAnyAuthority('ADMINISTRATOR','HR')"></div>
	</div>
	
	<div class="row expanded">
		<div data-th-replace="templates/input-custom :: input-4-date(nameTag='hrOrderDate', textTag='inputlabel.hrOrderDate')" 
			 data-sec-authorize="hasAnyAuthority('ADMINISTRATOR','HR')" ></div>	
		
		<div data-th-replace="templates/input-custom :: input-4-text(nameTag='hrOrderNumber', textTag='inputlabel.hrOrderNumber' )" 
			data-sec-authorize="hasAnyAuthority('ADMINISTRATOR','HR')"></div>
		
		<div data-th-replace="templates/input-custom :: input-4-text(nameTag='hrOrderNumberJurnal', textTag='inputlabel.hrOrderNumberJurnal')" 
			 data-sec-authorize="hasAnyAuthority('ADMINISTRATOR','HR')" ></div>
	</div>
	
	<div class="row expanded">
		<div class="medium-12 small-12 columns">
			<table id="tableEmployee">
				<thead>
					<tr>
						<th data-th-text="#{inputlabel.fullNameEmployee}"></th>
						<th data-th-text="#{inputlabel.nameDepartment}"></th>
						<th>
							<ul class="menu align-right">
      							<li>
      								<a data-open="modalAddEmployee" class="button" >+</a>
      							</li>
    						</ul>
						</th>
					</tr>
				</thead>
				<tbody>					
				</tbody>
			</table>
		</div>
	</div>
	
	<div class="row expanded">
		<div data-th-class="${#fields.hasErrors('hrOrderNumber')} ? 'medium-4 small-12 columns invalid' : 'medium-4 small-12 columns' ">
			<label data-th-text="#{inputlabel.hrOrderUploadFile}">input file</label>
			<input type="file" id="heOrderFile" name="hrOrderFile" >
		</div>
		
		<div data-th-class="${#fields.hasErrors('hrOrderNumberJurnal')} ? 'medium-6 small-12 columns invalid' : 'medium-6 small-12 columns' " >
			<label data-th-text="#{inputlabel.hrOrderJobBuh}" >job buh</label>
			<input type="checkbox" id="hrOrderJobBuh" name="hrOrderJobBuh" data-th-field="*{hrOrderJobBuh}" autofocus="autofocus" >
		</div>
	</div>
</div>

<div data-th-fragment="rowtable(fullName, departmentName)" data-th-remove="tag" >
	<table data-th-remove="tag">
	<tr>
		<td data-th-text="${fullName}"></td>
		<td></td>
	</tr>
	</table>
</div>

<div data-th-fragment="modalAddEmployee">
	<h1 data-th-text="#{titleform.addEmployee}" >Add emplouee</h1>
  	<p>
  			<div>
  				<label data-th-text="#{inputlabel.fullNameEmployee}">full name</label>
  				<select id="idEmployee">
					<option data-th-each="item: ${employeeCollections}" data-th-value="${item.id}" data-th-text="${item.getFullName()}" >
				</select>
  			</div>
  			<div class="column align-right">
				<button id="addRow" type="submit" class="button float-right" data-th-text="#{buttonname.submit}">1</button>
			</div>
  	</p>
  	<button class="close-button" data-close aria-label="Close Accessible Modal" type="button">
    	<span aria-hidden="true">&times;</span>
  	</button>
</div>

<div data-th-fragment="hr-order-callout(hrOrderModel)"
	class="callout secondary">
	<div class="row expanded">
		<div class="small-4 large-2 columns">
			<h5>
				<span>01.04.2022</span> № <span>8-к</span>
			</h5>
		</div>

		<div class="small-12 large-9 columns">
			<b>НАЗАВА:</b> <a href="#">Про організацію роботи в нічний час з
				04 на 05 січня, з 05 на 06 січня 2022 року</a>
		</div>
		<div class="small-4 large-1 columns">
			<a href="#" class="button">+</a> <a href="#" class="button">+</a>
		</div>
	</div>

	<table class="stack">
		<thead>
			<tr>
				<th>П.І.Б</th>
				<th>ПОСАДА</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Діденко Вадим Леонідович</td>
				<td>бригадир на дільницях основного виробництва відділу з
					демонтажу</td>
			</tr>
			<tr>
				<td>Панченко Василь Васильович</td>
				<td>монтажник з монтажу сталевих та залізобетонних конструкцій
					3 розряду відділу з демонтажу</td>
			</tr>
			<tr>
				<td>Жиров Геннадій Леонідович</td>
				<td>водій автотранспортних засобів (вантажних автомобілів)
					відділу з демонтажу</td>
			</tr>
			<tr>
				<td>Опанасюк Руслан Володимирович</td>
				<td>машиніст крана відділу з демонтажу</td>
			</tr>
			<tr>
				<td>Геращенко Олександр Миколайович</td>
				<td>монтажник з монтажу сталевих та залізобетонних конструкцій
					3 розряду відділу з демонтажу</td>
			</tr>
			<tr>
				<td>Ошурко Дмитро Васильович</td>
				<td>монтажник з монтажу сталевих та залізобетонних конструкцій
					3 розряду відділу з демонтажу</td>
			</tr>
			<tr>
				<td>Лисенко Олександр Володимирович</td>
				<td>машиніст автовишки та автогідропідіймача відділу з
					демонтажу</td>
			</tr>
			<tr>
				<td>Швець Дмитро Олександрович</td>
				<td>машиніст автовишки та автогідропідіймача відділу з
					демонтажу</td>
			</tr>
			<tr>
				<td>Майзус Віталій Юрійович</td>
				<td>монтажник з монтажу сталевих та залізобетонних конструкцій
					3 розряду відділу з демонтажу</td>
			</tr>
			<tr>
				<td>Радикоп Анатолій Олександрович</td>
				<td>водій автотранспортних засобів (вантажних автомобілів)
					відділу з демонтажу</td>
			</tr>
			<tr>
				<td>Андрійчик Олександр Олексійович</td>
				<td>водій автотранспортних засобів (вантажопасажирських
					автомобілів) відділу з демонтажу</td>
			</tr>

		</tbody>
	</table>

	<div class="row expanded">
		<div class="small-12 large-4 columns">
			<b>Опрацьовано бухгалтерія</b>
		</div>
		<div class="small-12 large-4 columns">
			<b>№ реестрації заяви в журналі</b> <span></span>
		</div>
		<div class="small-12 large-4 columns">
			<b>Примітки</b> <span></span>
		</div>
	</div>
</div>