<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <title>phone fragment</title>
</head>
<body>

  <table class="tabs" data-th-fragment="phone-table">
    <thead>
        <tr>
            <th data-th-text="#{inputlabel.numberPhone}">phone number</th>
            <th data-sec-authorize="hasAnyAuthority('phone:write')">
                <ul data-th-replace="~{templates/button :: button-add-table}"></ul>
            </th>
        </tr>
    </thead>
    <tbody data-th-each="phone : ${phones}">
        <tr>
            <td data-th-text="${phone.numberPhone}">phone number</td>
            <td class="text-right" data-sec-authorize="hasAnyAuthority('phone:write')">
                <a data-th-href="@{edit/{id}(id=${phone.id})}" data-th-text="#{buttonname.edit}"></a>
            </td>
        </tr>
    </tbody>
  </table>

    <div data-th-fragment="phone-add" data-th-remove="tag">
        <form data-th-replace="~{phone/phone-fragment :: core-form(#{titleform.new},@{add})}"></form>
    </div>

    <div data-th-fragment="phone-edit" data-th-remove="tag">
        <form data-th-replace="~{phone/phone-fragment :: core-form(#{titleform.edit},@{#})}"></form>
    </div>

    <form method="post" data-th-fragment="core-form(title,url)" data-th-action="${url}" data-th-object="${phone}" >

        <div class="medium-12 columns">
            <h3 data-th-text="${title}">new room</h3>
        </div>

        <div data-th-replace="~{templates/input-custom :: input-text-12(#{inputlabel.numberPhone},'numberPhone')}"></div>

        <div data-th-replace="~{templates/input-custom :: input-submit-form}" data-th-remove="tag"></div>

    </form>

</body>
</html>