<html lang="ua">

<head data-th-insert="~{templates/head :: head(~{::title})}">
    <title data-th-text="#{__${titlepage}__}"></title>
</head>

<body>
    <nav id="header" data-th-replace="~{templates/nav :: core-nav(#{__${titlepage}__})}" ></nav>

    <div>
        <div class="row flex-container expanded">
            <div class="columns medium-2">
                <ul id="componentMenu" class="vertical menu" data-th-insert="~{__${componentManu}__}" ></ul>
            </div>
            <div class="columns medium-10">
                <div data-th-replace="~{__${bodyFragment}__}"></div>
            </div>
        </div>
    </div>

    <script data-th-replace="~{templates/core-script :: core-script}" ></script>

</body>
</html>