<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Employee fragment</title>
</head>
<body>

    <table data-th-fragment="employee-table">
        <thead>
            <tr>
                <th data-th-text="#{inputlabel.fullNameEmployee}">full name employee</th>
                <th data-th-text="#{inputlabel.namePost}">post name</th>
                <th data-sec-authorize="hasAnyAuthority('employee:write')">
                    <ul class="menu align-right" data-th-insert="~{templates/button.html :: button-add-table}"></ul>
                </th>
            </tr>
        </thead>
        <tbody data-th-each="employee : ${employees}">
            <tr>
                <td data-th-text="${employee.getFullName()}" >full name</td>
                <td data-th-text="${employee.post}" >post name</td>
                <td></td>
            </tr>
        </tbody>
    </table>

    <div data-th-fragment="employee-add" data-th-remove="tag">
        <form data-th-replace="~{employee/employee-fragment :: employee-form(#{titleform.new}, @{add})}"></form>
    </div>


    <form data-th-object="${employee}" method="post" data-th-fragment="employee-form(labelTitle, url)" data-th-action="${url}">
        <fieldset>
            <legend data-th-text="${labelTitle}"></legend>

            <div class="medium-4 small-12 columns">
                <label>
                    <span data-th-text="#{inputlabel.company}" data-th-remove="tag" ></span>
                    <select id="idEnterprise" data-th-field="*{idEnterprise}" >
                        <option value="0"></option>
                        <option data-th-each="company : ${companies}" data-th-value="${company.id}" data-th-text="${company.nameCompany}" ></option>
                    </select>
                </label>
            </div>

            <div class="medium-4 small-12 columns">
                <label>
                    <span data-th-text="#{inputlabel.department}" data-th-remove="tag"></span>
                    <input id="department" type="text" list="departmentsList" data-th-field="*{department}" data-th-placeholder="#{inputlabel.department}">
                    <datalist id="departmentsList">

                    </datalist>
                </label>
            </div>

            <div data-th-replace="~{templates/input-custom :: input-text-medium-4(#{inputlabel.surname}, 'surname')}" ></div>

            <div data-th-replace="~{templates/input-custom :: input-text-medium-4(#{inputlabel.nameEmployee}, 'name')}" ></div>

            <div data-th-replace="~{templates/input-custom :: input-text-medium-4(#{inputlabel.patronymic}, 'patronymic')}"></div>

            <div data-th-replace="~{templates/input-custom :: input-text-medium-4(#{inputlabel.login}, 'login')}"></div>

            <div data-th-replace="~{templates/input-custom :: input-text-medium-4(#{inputlabel.email}, 'email')}"></div>

            <div data-th-replace="~{templates/input-custom :: input-text-medium-4(#{inputlabel.password}, 'password')}" ></div>

            <div data-th-replace="~{templates/input-custom :: input-submit-form}"></div>

            <script type="text/javascript" data-th-src="@{/js/employee-fragment.js}" ></script>

        </fieldset>
    </form>

</body>
</html>