<!DOCTYPE html>
<html>

	<head data-th-replace="templates/head :: head(#{titleform.positions})"></head>
	
<body>

	<div class="app-dashboard shrink-medium">
			<div class="row expanded app-dashboard-top-nav-bar">
				<div class="columns medium-2">
					<button data-toggle="app-dashboard-sidebar"	class="menu-icon hide-for-medium"></button>
					<a class="app-dashboard-logo" data-th-text="#{titleform.emploee}"></a>
				</div>
				<div class="columns show-for-medium">
				
				</div>
				<div data-th-insert="templates/menu/logof-logon.html"></div>
			</div>
	
			<div class="app-dashboard-body off-canvas-wrapper">
				<div id="app-dashboard-sidebar"	class="app-dashboard-sidebar position-left off-canvas off-canvas-absolute reveal-for-medium" data-off-canvas>
					<div class="app-dashboard-sidebar-inner">
						<ul  data-th-replace="fragments/menu :: home-admin"></ul>
					</div>
				</div>
	
				<div class="app-dashboard-body-content off-canvas-content" data-off-canvas-content>
					<div data-th-replace="fragments/employee-fargment :: table-employee"></div>
				</div>
			</div>
		</div>
	<!-- modal window delete -->
	<div class="reveal" data-th-id="deleteRecord" data-reveal data-options="closeOnClick:false; closeOnEsc:false;"></div>
	
	<div data-th-insert="templates/head :: script" data-th-remove="tag"></div>
	<script type="module" data-th-src="@{/resources/js/employee.js}"></script>
	
</body>
</html>